[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
blis = "*"
catalogue = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
confection = "*"
contourpy = "*"
cycler = "*"
cymem = "*"
fonttools = "*"
idna = "*"
importlib-resources = "*"
jinja2 = "*"
joblib = "*"
kiwisolver = "*"
langcodes = "*"
markupsafe = "*"
matplotlib = "*"
murmurhash = "*"
nltk = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pathy = "*"
pillow = "*"
preshed = "*"
pydantic = "*"
pydantic-core = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
six = "*"
smart-open = "*"
spacy = "*"
spacy-legacy = "*"
spacy-loggers = "*"
srsly = "*"
thinc = "*"
threadpoolctl = "*"
tqdm = "*"
typer = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
wasabi = "*"
xgboost = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.10"
