[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
uvicorn = "*"
fastapi = "==0.104.1"
spacy = "==3.7.2"
pydantic = "==2.5.2"
requests = "==2.31.0"
numpy = "==1.26.2"
pandas = "==2.1.3"
nltk = "==3.8.1"
nlpaug = "*"
scikit-learn = "*"
tensorflow-cpu = "*"
en-core-web-sm = {url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.2/en_core_web_sm-3.7.2.tar.gz"}

[dev-packages]

[requires]
python_version = "3.10"
